.Cart {
    border: 1px black solid;
    border-radius: 10px;
}

.Cart-title {
    font-family: "Train One";
}

.Cart-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

.Cart-image {
    width: 100px;
    border: 5px solid rgb(240, 229, 229);
    border-radius: 5px;
}

.Cart-item-data {
    text-align: center;
}

@media(max-width: 992px) {
    .Cart {
        margin-top: 20px;
    }

    .Cart-item {
        display: block;
        margin: 10%;
    }

    .Cart-image {
        margin: 10%;
    }

    .Cart-item-data {
        text-align: center;
    }


}
