.Store {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
}

.Store-title {
    font-family: "Train One";

}

.Store-wrap {
    flex: 0 0 33.333%;
    display: flex;
    padding: 10px;
}

@media(max-width: 992px) {
    .Store {
        grid-template-columns: 100%;
        margin: 0;
        align-items: center;
        border-radius: 5px;
    }
}
